  <h1>
  <% if @current_program %>
    <% if current_program_open? %>
      <%= @current_program.open_instructions %>
    <% else %>
      <%= @current_program.close_instructions %>
    <% end %>
  <% else %>
    There are no active programs
  <% end %>
  </h1>
